@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Pacifico&family=Righteous&display=swap');

input {
    margin-bottom: 5px;
}

.label_email{
    margin-right: 32px;
    font-family: 'Josefin Sans';
}

.label_pwd{
    font-family: 'Josefin Sans';
}

.header {
    text-align: center;
    font-size: 40px;
    font-family: 'Josefin Sans';
}

.body {
    background-color: #6E6E6E;
}

button{
    background-color: #B0E1E8; 
    border: none;
    font-family: 'Josefin Sans';
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    margin: 15px;
    border: 2px solid black;
    
}

button:hover{
    background-color: rgb(82, 77, 77);
}

input[type=text]{
    border: 2px solid black;
    border-radius: 4px;
}

input[type=password]{
    border: 2px solid black;
    border-radius: 4px;
}

.footer_layer {
    background-color: #1E1F28;
    margin:0;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    position:relative;
    bottom:0;
    width:99.5%;
    height:60px;
}

.header2 {
    text-align: center;
    font-size: 30px;
    font-family: 'Josefin Sans';
}